[defaults]

inventory      = inventory.ini
#log_path = /var/log/ansible.log  #for mongodb running time comment this later we can add it.
#ask_vault_pass = True
#vault_password_file = ~/.ansible/.mysql_vault
#forks = 8